name: Generate README

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Dart
        uses: dart-lang/setup-dart@v1

      - name: Run Dart Script
        run: dart generate_readme.dart

      - name: Commit changes
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add README.md
          git commit -m "Auto-generate README" || echo "No changes to commit"
          git push

